{% extends "_base.html" %}

{% block title %}Ingredientes{% endblock %}

{% block main %}
<main class="container mt-5">
  <div class="main-content">
    <h1 class="mb-4">Ingredientes</h1>

    <!-- Espacio para la tabla o grid -->
    <div class="row">
      {% for ingredient in ingredients %}
        <div class="col-md-3 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title text-truncate">{{ ingredient.name }}</h5>
              <table class="table table-striped table-sm">
                <tr>
                  <td><strong>Id:</strong></td>
                  <td style="text-align: right;">{{ ingredient.id }}</td>
                </tr>
                <tr>
                  <td><strong>Type:</strong></td>
                  <td style="text-align: right;">{{ ingredient.__class__.__name__ }}</td>
                </tr>
                <tr>
                  <td><strong>Price:</strong></td>
                  <td style="text-align: right;">{{ ingredient.price }}</td>
                </tr>
                <tr>
                  <td><strong>Calories:</strong></td>
                  <td style="text-align: right;">{{ ingredient.calories }}</td>
                </tr>
                <tr>
                  <td><strong>Is Vegetarian:</strong></td>
                  <td style="text-align: right;">{{ ingredient.is_vegetarian }}</td>
                </tr>
                <tr>
                  <td><strong>Units:</strong></td>
                  <td style="text-align: right;">{{ ingredient.units }}</td>
                </tr>
                <tr>
                  <td><strong>Extra Data:</strong></td>
                  <td style="text-align: right;">{{ ingredient.extra_data }}</td>
                </tr>
              </table>
              <table class="table table-striped table-sm">
                <th>Productos:</th>
                </th>
                <th style="text-align: right;">Id:</th>
                {% for product in ingredient.products %}
                <tr>
                  <td>{{ product.name }}</td>
                  <td style="text-align: right;">{{ product.id }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <div class="card-footer d-flex justify-content-start">
              <a
                class="btn btn-primary"
                style="margin-right: 6px;"
                href="{{ url_for('ingredients.show', id=ingredient.id) }}"
                >Detalles</a
              >
              <a
                class="btn btn-success"
                style="margin-right: 6px;"
                href="{{ url_for('ingredients.supply', id=ingredient.id) }}"
                >Abastecer</a
              >
            </div>
          </div>
          
        </div>
      {%endfor%}
    </div>
  </div>
</main>
{% endblock %}